
<%= form_with model: @comment, url: user_post_comments_path(@user.id, @post.id), class: "comment-form", scope: :comment do  |form| %>
  <div class="comments_wrapper">
   <div class="add-comment-wrapper">
    <%= form.label :text, "Add Comment: ", class: "label" %>
    <%= form.text_area :text, class: "add-comment-text-box", size: "70x5" %>
  </div>
  <%= form.submit value: "Add Comment", type: "submit", class: "commit-btn" %>
 </div>
<% end %>