<div class = 'top-comment'>
  <div class='post_details'>
      <%= render "share/posts",   post: @post %>
      <% @post.comments.each do |comment| %>
          <%=render "share/comments", comment: comment%>
       <% end %>
   </div>
</div>