/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  padding: 5rem;
  min-width: 32rem;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  font-size: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.user {
  /* border: 2px solid gray; */
  margin-bottom: 1.5rem;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.user_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-info {
  border: 2px solid gray;
  width: 90%;
  height: 110px;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.user-name {
  height: 70%;
  display: flex;
  align-items: center;
}

.user-extra {
  align-self: flex-end;
  font-style: italic;
  font-size: 1.4rem;
}

.bio,
.user_posts,
.post_details {
  padding: 1rem;
  border: 2px solid gray;
  margin-bottom: 1.5rem;
}

.post_details {
  margin-bottom: 0.5rem;
  position: relative;
}

.details {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.see-btn {
  align-self: center;
  padding: 1rem;
  border: 2px solid black;
  background-color: lightgray;
  color: black;
}

.comment-text {
  padding: 1rem;
  background-color: rgb(248, 246, 246);
  border: 1px solid rgb(185, 185, 185);
  margin-top: 0.5rem;
}

.like-comments {
  display: flex;

  /* flex-direction: column; */
  justify-content: flex-end;
  padding: 0.5rem;
}

.top-comment #at_top {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.create_post_wrapper {
  display: flex;
}

.btn_create_post {
  margin: 2rem;
  border: 2px solid blue;
  padding: 1rem;
  display: inline-block;
  border-radius: 3rem;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.title-text,
.text-msg {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.btn-newPost {
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.like-btn {
  padding: 1rem 2rem;
  margin: 2rem;
  align-self: flex-end;
}

.comments_wrapper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-comment-wrapper {
  display: flex;
  gap: 2rem;
}

.commit-btn {
  padding: 1rem;
  align-self: flex-start;
}

.flex,
.c-flex {
  display: flex;
}

.c-flex {
  flex-direction: column;
}

nav {
  display: flex;

  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  padding: 1rem;
  margin-bottom: 3rem;
  justify-content: space-between;
  align-content: center;
}

.header-avatar {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.profile {
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.edit-profile {
  justify-content: center;
  align-items: center;
}

.login-wraper {
  margin: 3rem 0;
  align-items: center;
  height: auto;
}

.login-form {
  width: 70%;
  gap: 2rem;
  padding: 1rem;
  height: auto;
}

.field,
.actions {
  width: 100%;
  margin-bottom: 1.5rem;
}

.actions input {
  padding: 0.6rem;
}

.login-input {
  width: 100%;
  padding: 0.5rem;
}

.login-options {
  font-size: smaller;
  color: black;
  width: 68%;
  padding-top: 1.5rem;
  gap: 0.7rem;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
}

.details a {
  text-decoration: none;
}

.user-name a {
  text-decoration: none;
  color: black;
  cursor: hand;
}

a.home-name:hover {
  color: blue;
  text-decoration: underline;
}

.login-options a {
  text-decoration: none;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

.form-wrapper {
  align-items: center;
}

.reg-form {
  margin-top: 1rem;
}

.reg-form .field {
  width: 100%;
}

.field em,
i {
  margin-bottom: 0.5rem;
  font-size: x-small;
  font-style: italic;
}

.reg-base {
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.del-acc {
  background-color: #f75252;
  color: white;
  padding: 1rem;
}
